# Ignore all images
# Ignore all .png images inside the Dataset folder and its subfolders
Debayer_Project/Data/**/*.png

# Ignore all .pth and .pyc files
Debayer_Project/**/*.pth
Debayer_Project/**/*.pyc

# Ignore data folder and .vs folder
.vs
Getting Started/data